*  {
    box-sizing: border-box;
    
}

 body {
    margin: 0;
    color: black;
    font-size: 22px;
    text-align: center;
}

/**                       *****                 HEADER           ******                       **/

header {
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    
}



  nav li {
      display: inline-block;
      margin-right: 7em;
  }

  .navbar {
    margin-left: 2rem;
    text-align: center;
    width: 700px;
 }
 

 .company-name {
     margin-bottom: 0;
     margin-right: 1em;
     font-size: 3rem;
     text-transform: uppercase;
     letter-spacing: 0.25rem;
 }

 .italics {
     font-style: italic;
 }

 .bold {
     font-weight: 900;
     font-family: 'Courier New', Courier, monospace;
     font-size: 3.5rem;
 }

 @media only screen and (max-width: 600px) {
     .company-name {
         margin-left: 0.7em;
     }

     .navbar {
         margin-left: 4em; 
     }

     nav li {
         margin-right: 6em;
     }
 }

/**********/
/**                       *****                 MAIN SECTION           ******                       **/

main, footer {
    position: relative;
    top: 15rem;
    z-index: 0;
}

main {
    margin-top: -6.5rem;
}

 .container {
     width: 100%;
     height: auto;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

   img {
     width: 200px;
     height: 200px;
     padding: 10px;
     object-fit: contain;

 }

 .container h3, p {
     width: 75%;
 }

  .banner {  
     width: 100%;
     background-image: url("../css/resources/media/bannerphoto.WEBP");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     color: #fff;
     height: 35rem;
   }

   .intro {
        width: 75%;
       
   }