*  {
    box-sizing: border-box;
    
}

 body {
    margin: 0;
    color: black;
    font-size: 22px;
    text-align: center;
}

main, footer {
    position: relative;
    top: 15rem;
    z-index: 0;
}

/**                       *****                 HEADER           ******                       **/

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
}



  nav li {
      display: inline-block;
      margin-right: 5em;
  }

  .navbar {
    margin-left: 2rem;
    text-align: center;
    width: 700px;
 }
 

 .company-name {
     /*margin-bottom: 0;
     margin-right: 1em;*/
     margin: 0 auto;
     font-size: 3.5rem;
     text-transform: uppercase;
     letter-spacing: 0.40rem;
 }

 .italics {
     font-style: italic;
 }

 .bold {
     font-weight: 900;
     font-family: 'Courier New', Courier, monospace;
     font-size: 4.5rem;
 }

 @media only screen and (max-width: 600px) {
     .company-name {
         /*margin-left: 0.7em;*/
     }

     .navbar {
         margin-left: 4em; 
     }

     nav li {
         margin-right: 6em;
     }
 }

/**********/


/**                       *****                 BANNER           ******                       **/

  .banner {  
     width: 100%;
     height: auto;
     background-image: url("../css/resources/media/bannerphoto.WEBP");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     color: #fff;
     height: 35rem;
     overflow: hidden;
     
   }

    .intro {
        width: 100%;
        background-color: white;
        color: black;
        position: relative;
        padding: 5px;
        top: 10rem;
        bottom: 0;
        margin: 0 auto;
       }

   .intro h2, h4 {
      margin: 0 auto;
      line-height: 1.3;
      max-width: 60%;
      min-width: 450px;
   }

   .intro h2 {
       /*font-size: 2em;*/
       margin-bottom: 0.6rem;
     }

     .intro h4 {
         letter-spacing: 1px;
         text-indent: 1.5rem;
         font-size: 1.15em;
         margin-bottom: 10px;
     }


     
     /**********/

     /**                       *****                 MAIN CONTENT           ******                       **/



main {
    margin-top: -6.5rem;
}

section h2 {
    font-size: 2em;
}


  .services {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
 }

 .services .service {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

   .img-container img {
     width: 200px;
     height: 200px;
     padding: 10px;
     object-fit: contain; 
 }

 

 #services, #team, footer {
    margin-top: 6rem;
 }

 

                                /*              Services                    */ 

 #services {
    /* margin-top: 5.5rem; */
 }

 /**********/
/**                       *****                 FOOTER           ******                       **/

footer h2 {
    font-size: 2em;
}